
a.prev.browse
div#auto_diagnostic
    h3.
        Auto <strong>Diagnostícate</strong> y recibe tu presupuesto
    div.scrollable
        div.items
            div.levels
                img(src="img/Etapas_hombre/E1_perfil_H.png" alt="Alopecia Tipo I" width="151" height="215").profile
                img(src="img/Etapas_hombre/E1_Top_H.png" alt="Tipo I" width="134" height="210").top
                div
                    h4.
                        Tipo <strong>I</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="1")
            div.levels
                img(src="img/Etapas_hombre/E2_perfil_H.png" alt="Alopecia Tipo II" width="151" height="215").profile
                img(src="img/Etapas_hombre/E2_Top_H.png" alt="Alopecia Tipo II" width="134" height="210").top
                div
                    h4.
                        Tipo <strong>II</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="2")
            div.levels
                img(src="img/Etapas_hombre/E3_perfil_H.png" alt="Alopecia Tipo III" width="151" height="215").profile
                img(src="img/Etapas_hombre/E3_Top_H.png" alt="Alopecia Tipo III" width="134" height="210").top
                div
                    h4.
                        Tipo <strong>III</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="3")
            div.levels.V
                img(src="img/Etapas_hombre/E4_perfil_H.png" alt="Alopecia Tipo III Vertex" width="151" height="215").profile
                img(src="img/Etapas_hombre/E3Vertex_Top_H.png" alt="Alopecia Tipo Vertex" width="134" height="210").top
                div
                    h4.
                        Tipo <strong>III Vertex</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="3V")
            div.levels
                img(src="img/Etapas_hombre/E4_perfil_H.png" alt="Alopecia Tipo IV" width="151" height="215").profile
                img(src="img/Etapas_hombre/E4_Top_H.png" alt="Alopecia Tipo IV" width="134" height="210").top
                div
                    h4.
                        Tipo <strong>IV</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="4")
            div.levels
                img(src="img/Etapas_hombre/E5_perfil_H.png" alt="Alopecia Tipo V" width="151" height="215").profile
                img(src="img/Etapas_hombre/E5_Top_H.png" alt="Alopecia Tipo V" width="134" height="210").top
                div
                    h4.
                        Tipo <strong>V</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="5")
            div.levels
                img(src="img/Etapas_hombre/E6_perfil_H.png" alt="Alopecia Tipo VI" width="151" height="215").profile
                img(src="img/Etapas_hombre/E6_Top_H.png" alt="Alopecia Tipo " width="134" height="210").top
                div
                    h4
                        Tipo <strong>VI</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="6")
            div.levels
                img(src="img/Etapas_hombre/E7_perfil_H.png" alt="Alopecia Tipo VII" width="151" height="215").profile
                img(src="img/Etapas_hombre/E7_Top_H.png" alt="Alopecia Tipo VII" width="134" height="210").top
                div
                    h4.
                        Tipo <strong>VII</strong>
                    div.input_radio
                        label(for="select_level").
                            Selecciona tu nivel de <strong>Alopecia</strong>
                        input(type="radio" class="select_level" name="select_level" value="7")
    div.response.first
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E1_perfil_H.png" alt="Alopecia Tipo I" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>I</strong>
            p.diagnosis_description.
                Indica pérdida mínima de pelo.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription
                <strong>Fórmulas</strong> Magistrales
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    div.response.second
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E2_perfil_H.png" alt="Alopecia Tipo II" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>II</strong>
            p.diagnosis_description.
                Indica pérdida de cabello en áreas pequeñas de la zona frontotemporal de la cabeza.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription
                <strong>1,000</strong> a <strong>1,500</strong> cabellos y/o Fórmulas
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    div.response.third
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E3_perfil_H.png" alt="Alopecia Tipo III" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>III</strong>
            p.diagnosis_description.
                En esta etapa la pérdida de cabello es más profunda en el área frontotemporal. <br />Las áreas afectadas carecen o están cubiertas con poco cabello.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription
                <strong>2,000</strong> a <strong>2,500</strong> cabellos
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    div.response.thirdV
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E4_perfil_H.png" alt="Alopecia Tipo III Vertex" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>III Vertex</strong>
            p.diagnosis_description.
                En esta etapa la pérdida de cabello afecta la parte posterior de la cabeza con una línea de recesión muy limitada en el área frontotemporal.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription
                <strong>2,500</strong> cabellos
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    div.response.fourth
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E4_perfil_H.png" alt="Alopecia Tipo IV" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>IV</strong>
            p.diagnosis_description.
                En esta etapa la pérdida de cabello es más extensa que la del tipo III, se localiza en la parte frontotemporal y posterior de la cabeza.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription
                <strong>2,500</strong> cabellos
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    div.response.fifth
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E5_perfil_H.png" alt="Alopecia Tipo V" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>V</strong>
            p.diagnosis_description.
                En esta estapa la coronilla está todavía separada de la zona frontotemporal aunque esta separación ya no es tan evidente debido a que la franja media se ha estrechado y el cabello se ha vuelto más escaso.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription
                <strong>3,000</strong> cabellos
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    div.response.sixth
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E6_perfil_H.png" alt="Alopecia Tipo VI" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>VI</strong>
            p.diagnosis_description.
                Es cuando la calvicie de la coronilla se junta con la de la zona frontotemporal, convirtiéndose en una sola calvicie.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription
                <strong>+ de 3,500</strong> cabellos
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    div.response.seventh
        div.diagnosis_displayed
            img(src="img/Etapas_hombre/E7_perfil_H.png" alt="Alopecia Tipo VII" width="151" height="215").profile
            a(title="Atrás" href="").
                Atrás
        div.diagnosis_information
            h4.
                Tu Diagnóstico es:
            p.diagnosis_level.
                Tipo <strong>VII</strong>
            p.diagnosis_description.
                Es la forma más severa de la pérdida del cabello, solo queda una franja de cabello con forma de herradura en la parte posterior de la cabeza.
            p.diagnosis_level.need.
                Necesitas
            p.diagnosis_prescription.
                <strong>+ de 3,500</strong> cabellos
            hr
            p.promotions_link.
                Conoce nuestras promociones y <a title="Comienza Ya" href="">Comienza ya</a>
        include diagnosis_budget
    p.disclaimer.
        <strong>Exclusivo para México</strong><br />
        El número de cabellos es aproximado, es necesario una valoración
        presencial antes de su procedimiento. Puede haber variaciones en
        función de la zona donadora y las zonas a tratar.
    img(src="img/banamex_promo/logos.png" alt="logos" width="137" height="41").logos
a.next.browse-