doctype html
//[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]
//[if gt IE 8]><!
html(lang="es" class="no-js") <!--<![endif]-->
    include head
    body
        //[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
        div#home.contenedor
            figure.logo
                img(src="Code/templates/img/logo_boja.png" alt="Centro Dermatológico Giovanni Bojanini" width="142" height="110")
            figure.friends
                img(src="Code/templates/img/bojanini-friends.png" alt="Bojanini-friends" width="784" height="785")
            div#contact_phone
                p Para más información
                p.info 01800 <span>377 35 67</span>
                p.info
                    a(href="mailto:http://www.giovannibojanini.com.mx" title="Giovanni Bojanini.com" target="_blank") Giovanni Bojanini.com
            div.wrapper
                h1 Bojanini <strong>Friends</strong>
                hr
                h2 Comparte entre amigos
                div#description
                    p.
                        En Giovanni Bojanini queremos que la <strong>amistad dure para siempre</strong>,
                        por eso, con <strong>Bojanini Friends</strong>, tú y tus amigos podrán disfrutar de 
                    p.emphazise.
                        grandes <strong>descuentos.</strong>
                div#discounts
                    div.twenty
                        p.
                            <strong>Para ti</strong> que ya eres parte de Bojanini, <strong>recibe</strong>
                        p.discount 20%
                    div.thirty
                        p.
                            <strong>Para ti</strong> y <strong>un amigo</strong>
                        p.discount 30%
                    div.fourthy
                        p.
                            <strong>Para ti, dos o más amigos</strong>
                        p.discount 40%
                    div.aclaration
                        p En <strong>Microinjerto</strong> capilar
                div#auto_diagnotic
                    h3 Auto <strong>Diagnostícate</strong>
                    a.prev.browse
                    form(method="post" accept-charset="utf8" action="").scrollable
                        
                        fieldset.items
                            
                            div
                                img(src="" alt="" width="" height="")
                                h4 Nivel I
                                div.input_checkbox
                                    label(for="select_level") Selecciona tu nivel de <strong>Alopecia</strong>
                                    input(type="checkbox" class="select_level" name="select_level" value="")
                            div
                                img(src="" alt="" width="" height="")
                                h4 Nivel II
                                div.input_checkbox
                                    label(for="select_level") Selecciona tu nivel de <strong>Alopecia</strong>
                                    input(type="checkbox" class="select_level" name="select_level" value="")
                            div
                                img(src="" alt="" width="" height="")
                                h4 Nivel III
                                div.input_checkbox
                                    label(for="select_level") Selecciona tu nivel de <strong>Alopecia</strong>
                                    input(type="checkbox" class="select_level" name="select_level" value="")
                    a.next.browse
                    p.disclaimer. 
                        El número de cabellos es aproximado, es necesario una valoración
                        presencial antes de su procedimiento. Puede haber variaciones en
                        función de la zona donadora y las zonas a tratar.
            img(src="Code/templates/img/logo_international_society.png" alt="logo_international_society" width="151" height="86")#member_ISHRS
        include footer