div#home.contenedor
    figure.friends
        img(src="img/banamex_promo/weyes_2.png" alt="Bojanini-friends" width="670" height="801")
    div.wrapper
        
        include header
        
        div.wrapper_information#banamex_promo
            h1 Bojanini <strong>Friends</strong>
            hr
            h2 Comparte entre amigos
            div#description
                p.
                    <strong>En Promoción Recibe</strong>
            div#discounts
                div.twenty
                    p.discount 20%
                    p.of_discount
                        <strong>De descuento</strong>
                    p.discount 3
                    p.months meses
                    p.without_interest
                        <strong>Sin Intereses</strong>
                    span.triangle
                div.fifteen
                    p.discount 15%
                    p.of_discount
                        <strong>De Descuento</strong>
                    p.plus
                        <strong>+</strong>
                    p.discount 6
                    p.months meses
                    p.without_interest
                        <strong>Sin Intereses</strong>
                    span.triangle
                div.banamex_logo
                    p. Solo con
                    img(src="img/banamex_promo/banamex_logo.png" width="100" height="80" alt="Logo Banamex")
                div.aclaration
                    p En <strong>Microinjerto</strong> capilar
            
            include autodiagnostic_module
            
        img(src="img/logo-ESHRS.jpg" alt="European Society of Hair Restoration Surgery" width="77" height="84")#ESHRS
        img(src="img/logo_international_society.png" alt="Member of International Society of Hair Restoration Surgery" width="151" height="86")#member_ISHRS