div#home.contenedor
    figure.friends
        img(width="427" height="934" alt="Bojanini-friends" src="img/promocion-agosto/persona-promocion-agosto.png")
    div.wrapper

        include header

        div.wrapper_information#august_2014_promotion_of_the_month

            figure.wrapper_information
                img(width="626" height="143" alt="Bojanini-friends" src="img/promocion-agosto/cambia-de-look-estas-vacaciones.png")
                img(width="459" height="77" alt="Bojanini-friends" src="img/promocion-agosto/aprovecha-este-verano-para-realizarte-microinjerto-capilar-con-la-tecnica-fue.png")
                img(width="601" height="255" alt="Bojanini-friends" src="img/promocion-agosto/30-porciento-de-descuento-3-meses-sin-intereses-con-banamex-en-microinjerto-capilar.png")

            include autodiagnostic_module
