div#home.contenedor
    figure.friends
        img(src="img/banamex_promo/weyes-3.png" alt="Bojanini-friends" width="670" height="551")
    div.wrapper
        
        include header
        
        div.wrapper_information#junio_promo
            h1 Bojanini <strong>Friends</strong>
            hr
            h2 Comparte entre amigos
            div#discounts
                div.twenty
                    p.
                        <strong>Promoción <br /><span>Junio y </span><br /><span>Julio</span></strong>
                    span.triangle
                div.thirty
                    p.
                        <strong>2X1</strong>
                    span.triangle
                div.fourthy
                    p.
                        <strong><span class="yellow">dos</span><br />pacientes<br />por el <br /><span class="yellow">precio de uno</span></strong>
                div.aclaration
                    p En <strong>Microinjerto</strong> capilar
            
            include autodiagnostic_module
            