div#home.contenedor
    figure.friends.on-left
        img(width="427" height="934" alt="Bojanini-friends" src="img/promocion-agosto/persona-promocion-agosto.png")
    div.wrapper

        include header

        div.wrapper_information#october_2014_promotion_of_the_month

            figure.wrapper_information
                img(width="627" height="143" alt="Bojanini-friends" src="img/promocion-october/cambia-de-look-durante-el-otono.png")
                img(width="547" height="76" alt="Deja que las hojas sean lo unico que caiga en octubre aprovecha esta temporada para realizarte un microinjerto capilar con la tecnica FUE (pelo por pelo) en una sola sesion resultados naturales garantizados" src="img/promocion-october/deja-que-las-hojas-sean-lo-unico-que-caiga-en-octubre-aprovecha-esta-temporada-para-realizarte-un-microinjerto-capilar-con-la-tecnica-fue-pelo-por-pelo-en-una-sola-sesion-resultados-naturales-garantizados.png")
                img(width="600" height="218" alt="30% de descuento + 3 y 6 meses sin intereses sólo con banamex en microinjerto capilar" src="img/promocion-october/30-porciento-de-descuento-3-y-6-meses-sin-intereses-solo-con-banamex-en-microinjerto-capilar.jpg")
                img(width="212" height="17" alt="Del 1 al 31 de Octubre" src="img/promocion-october/del-1-al-31-de-octubre.png")

            include autodiagnostic_module
