div#home.contenedor
    figure.friends
        img(src="img/weyes.png" alt="Bojanini-friends" width="528" height="682").desktop
        img(src="img/weyes_small.png" alt="Bojanini-friends" width="416" height="538").mobile
    div.wrapper
        
        include header
        
        div.wrapper_information
            h1 Bojanini <strong>Friends</strong>
            hr
            h2 Comparte entre amigos
            div#description
                p.
                    En Giovanni Bojanini queremos que la <strong>amistad dure para siempre</strong>,
                    por eso, con <strong>Bojanini Friends</strong>, tú y tus amigos podrán disfrutar de 
                p.emphazise.
                    grandes <strong>descuentos.</strong>
            div#discounts
                div.twenty
                    p.
                        <strong>Para ti</strong> <br />que ya eres parte <br />de Bojanini, <strong>recibe</strong>
                    p.discount 20%
                div.thirty
                    p.
                        <strong>Para ti</strong> <br />y <strong>un amigo</strong>
                    p.discount 30%
                div.fourthy
                    p.
                        <strong>Para ti, dos<br /> o más amigos</strong>
                    p.discount 40%
                div.aclaration
                    p En <strong>Microinjerto</strong> capilar
            
            include autodiagnostic_module
            
        img(src="img/logo-ESHRS.jpg" alt="European Society of Hair Restoration Surgery" width="77" height="84")#ESHRS
        img(src="img/logo_international_society.png" alt="Member of International Society of Hair Restoration Surgery" width="151" height="86")#member_ISHRS