
/* Start Sprite Master CSS */
.enviar,.enviar_over{display: inline-block;background-repeat: no-repeat;background-image: url('send-button.png');}
.enviar{background-position:0px 0px;width:65px;height:65px;}
.enviar_over{background-position:0px -65px;width:65px;height:65px;}
/* End Sprite Master CSS */
