@import "bourbon";
@import "normalize.scss";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Helvetica_Neue_lt_std';
    src: url('fonts/helveticaneueltstd-lt-webfont.eot');
    src: url('fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-lt-webfont.svg#helvetica_neue_lt_std45_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
$Helvetica: 'Helvetica_Neue_lt_std',Helvetica,Arial,'sans-serif';
$yellow:    #ECD102;
$mild_gray: #494949;
$text_gray: #2B2B2B;
$white:     #FFF;
@mixin font-mask( $color,$size,$height,$weight,$font:$Helvetica) {
    color: $color;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-family: $font;
}

a,input,div,p,span,strong,em,form,fieldset,textarea,hr,img,select,option,button,
header,body,aside,video,audio,footer,section,article,code,canvas,ul,ol,li,menu,
menuitem,nav,iframe,embed,object,*{
    outline: transparent thin none;
}
.alert_background {
    background: url('../img/background_lightbox.png') repeat scroll 0 0 transparent;
    display: none;
    height: 100%;
    min-height: em( 1720, 16 );
    top:0;
    position: absolute;
    width: 100%;
    z-index: 16;
}
.alert_box {
    @extend .clearfix;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 1px 3px 7px #AAA;
    display: none;
    margin: 0 auto;
    padding: 30px;
    position: fixed !important;
    /*width: 502px;*/
    z-index: 17;
    h2{
        background:none no-repeat scroll 0 1px transparent;
        color: #27A9E0;
        font: normal 1.188em/1em $Helvetica;
        margin: 0;
        padding: 0 46px 0 0;
        text-transform: uppercase;
    }
    a.close{
        background: url('../img/close.png') no-repeat scroll 0 0 transparent;
        cursor: pointer;
        height: 27px;
        overflow: hidden;
        position: absolute;
        right: -12px;
        text-indent: -2000em;
        top: -12px;
        width: 27px;
        img{
            
        }
    }
    p{
        color: #000;
        font: normal 0.875em/1em $Helvetica;
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }
}
.alert_trigger{
    display: none;
    opacity: 0;
    filter: alpha(opacity = 0);
}
.loader{ 
    display: block; 
    height: em( 32, 16 );
    margin: 0 auto;
    position: relative;
    top: em( 273, 16 );
    width: em( 32, 16 );
    z-index: 17;
}

html,body{
    @include font-mask( $text_gray, em( 16, 16 ), em( 16, 16 ), normal );
    @extend .clearfix;
    background: url("../img/background.jpg") repeat-x scroll 0 0 transparent;
    background-size: 8px 100%;
    display: table;
    font-weight: normal;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#home.contenedor{
    @extend .clearfix;
    min-width: 960px;
    figure.friends{
        @extend .clearfix;
        bottom: 0;
        display: block;
        height: 682px;
        position: absolute;
        //left: 890px;
        right: 0;
        width: 528px;
        z-index: 0;
        img{ height: 100% !important; width:100%; }
    }
    .wrapper{
        //background: rgba(255,255,255,0.6);
        display: block;
        height: 100%;
        margin: 0 auto;
        padding: 45px 0 0;
        width: 960px;
        z-index: 1;
        figure.logo{
            @extend .clearfix;
            display: inline-block;
            padding: 0;
            position: relative;
            z-index: 0;
            img{  }
        }
        #contact_phone{
            float: right;
            padding: 0 20px 0 0;
            position: relative;
            text-transform: uppercase;
            z-index: 1;
            p{
                color: $white;
                font-size:em( 16, 16 );
                margin: 0;
                text-align: center;
                padding: 0 0 11px;
            }
            p.info{
                color: $yellow !important;
                font-size: em( 28, 16 );
                padding: 0;
                span{ display:inline-block; font-weight: bold; padding: 0 0 6px; }
                a{
                    color: $yellow;
                    border-bottom: 3px solid $yellow;
                    font-size: em( 16.22, 28 );
                    font-weight: bold;
                    padding: 0 0 8px;
                    text-decoration: none;
                }
            }
        }
        .wrapper_information{
            padding: 17px 0 0;
            position: relative;
            width: 753px;
            h1,h2{
                font-weight: normal;
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
            }
            h1{
                font-size: em( 70, 16 );
                letter-spacing: 8.3px;
                line-height: em( 50, 70 );
                strong{}
            }
            hr{
                border-top:3px solid $yellow;
                display: block;
                height: 0;
                margin: 11px 0 9px;
                padding: 0;
            }
            h2{
                font-size: em( 23.1, 16 );
                letter-spacing: 21.8px;
                line-height: em( 18, 23.1 );
                padding: 0 0 10px;
            }
            #description{
                float: left;
                padding: 0 23px 0 0;
                width: em( 298, 16 );
                p{
                    @include font-mask( $text_gray, em( 12, 16 ), em( 17, 12 ), normal, $Helvetica );
                    clear: both;
                    display: block;
                    letter-spacing: 1px;
                    margin: 0;
                    padding: 0 0 5px;
                    text-align: justify;
                    strong{}
                }
                p.emphazise{
                    @include font-mask( $text_gray, em( 53, 16 ), em( 45, 53 ), normal, $Helvetica );
                    font-weight: normal;
                    letter-spacing: 15px;
                    padding: 0;
                    text-align: center;
                    strong{
                        clear: both;
                        display: block;
                        letter-spacing: 1px;
                    }
                }
            }
            div#discounts{
                @extend .clearfix;
                float: left;
                height: 171px;
                position: relative;
                width: 432px;
                div{
                    float: left;
                    height: 141px;
                    position: absolute;
                    p{
                        @include font-mask( $yellow, em( 12, 16 ), em( 15, 12 ), normal );
                        clear: both;
                        display: block;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        text-transform: uppercase;
                        strong{  }
                    }
                    .discount{
                        color: $white !important;
                        font-size: em( 60, 16 );
                        font-weight: bold;
                        line-height: em( 54.85, 70 );
                        padding: 0 !important;
                    }
                }
                div.twenty{
                    background: url("../img/cuadro_amarillo.png") no-repeat scroll left top transparent;
                    padding: 0 18px 0 0;
                    width: 144px;
                    z-index: 10;
                    p{
                        color: $text_gray;
                        padding: 15px 10px 0;
                        strong{}
                    }
                    p.discount{ padding: 12px 10px 0 !important; }
                }
                div.thirty{
                    background: url("../img/cuadro_2.png") no-repeat scroll left top transparent;
                    left: 144px;
                    padding: 0 25px 0 0;
                    width: 137px;
                    z-index: 5;
                    p{
                        padding: 21px 10px 0 24px;
                        width: 101px;
                        strong{}
                    }
                    p.discount{
                        font-size: em( 54.77, 16 );
                        letter-spacing: 0.1px;
                        padding: 21px 12px 0 20px !important;
                    }
                }
                div.fourthy{
                    background: url("../img/cuadro_3.png") no-repeat scroll left top transparent;
                    left: 288px;
                    padding: 0 23px 0 0;
                    width: 121px;
                    z-index: 0;
                    p{
                        padding: 21px 12px 0;
                        width: 119px;
                        strong{}
                    }
                    p.discount{
                        font-size: em( 57.77, 16 );
                        letter-spacing: 0.1px;
                        padding: 20px 12px 0 13px !important;
                    }
                }
                div.aclaration{
                    background-color: #2b2b2b;
                    bottom: 0;
                    height: 30px;
                    left: 0;
                    width: 100%;
                    p{
                        @include font-mask( $white, em( 12, 16 ), em( 30, 12 ), normal, $Helvetica );
                        letter-spacing: 10.07px;
                        text-align: center;
                        strong{}
                    }
                }
            }
            .browse{
                background: url("../img/flecha.png") no-repeat scroll 0 0 transparent;
                display: inline-block;
                height:83px;
                position: absolute;
                bottom:124px;
                width:41px;
            }
            a.prev{ background-position:0px 0px; left: -41px; }
            a.next{ background-position:0px -83px; right: 14px; }
            .disabled{ display: none !important; }
            div#auto_diagnostic{
                clear: both;
                display: block;
                overflow: hidden;
                padding: 16px 0 0;
                position: relative;
                width: 698px;
                h3{
                    @include font-mask( $white, em( 34, 16 ), em( 40, 34 ), normal );
                    background: $text_gray;
                    letter-spacing: 0.1px;
                    margin: 0;
                    padding: 10px 0 3px;
                    text-indent: 27px;
                    text-transform: uppercase;
                    strong{}
                }
                .scrollable{
                    background: $yellow;
                    height: 225px;
                    overflow: hidden;
                    width: 698px;
                    .items{
                        position: relative;
                        width: 2000em;
                        .levels{
                            display: inline-block;
                            float: left;
                            height: 244px;
                            width: 698px;
                            img{ float: left; }
                            .profile{ padding: 18px 0 0 36px; }
                            .top{ padding: 23px 0 0 75px; }
                            > div{
                                float: left;
                                padding: 0 0 0 32px;
                                width: 270px;
                                h4{
                                    @include font-mask( $text_gray, em( 64, 16 ), em( 64, 64 ), normal );
                                    letter-spacing: 0.1px;
                                    margin: 0;
                                    padding: 54px 0 64px;
                                    text-align: left;
                                    text-indent: 24px;
                                    text-transform: uppercase;
                                }
                                div.input_radio{
                                    @extend .clearfix;
                                    label{
                                        @include font-mask( $text_gray, em( 12.4, 16 ), em( 30, 12.4 ), normal );
                                        display: inline-block;
                                        float: left;
                                        letter-spacing: 0.1px;
                                        padding: 0 12px 0 0;
                                        text-transform: uppercase;
                                        strong{}
                                    }
                                    .radio{
                                        display: inline-block;
                                        float: left;
                                        span{
                                            background: url("../img/seleccion-sprite.png") no-repeat scroll center top transparent;
                                            display: block;
                                            height: 30px;
                                            left: 0;
                                            position: relative;
                                            top: 2px;
                                            width: 31px;
                                            .select_level{
                                                background: none transparent;
                                                border: 0 none transparent;
                                                display: block;
                                                filter: alpha(opacity=0);
                                                height: 100%;
                                                margin: 0;
                                                opacity: 0;
                                                padding: 0;
                                                width: 100%;
                                            }
                                        }
                                        .checked{ background-position: 0 -29px; }
                                    }
                                }
                            }
                        }
                        .V{
                            
                            > div{
                                
                                h4{
                                    font-size: em( 36, 16 );
                                    line-height: em( 36, 32 );
                                    text-indent: 0;
                                }
                            }
                        }
                    }
                }
                p.disclaimer{
                    @include font-mask( $text_gray, em( 10, 16 ), em( 17, 12 ), normal );
                    margin: 0;
                    padding: 19px 0 0;
                    width: 460px;
                }
            }
            div.response{
                bottom: 46px;
                height: 279px;
                left: 753px;
                position: absolute;
                width: 100%;
                .diagnosis_displayed{
                    background: url("../img/recuadro_grande.png") no-repeat scroll left center transparent;
                    float: left;
                    display: inline-block;
                    height: 276px;
                    position: relative;
                    width: 317px;
                    z-index: 1;
                    .profile{ float: left; padding: 28px 0 0 65px; }
                    > a{
                        @include font-mask( $text_gray, em( 13, 16 ), em( 29, 13 ), normal, $Helvetica );
                        background: url("../img/atras.png") no-repeat scroll left center transparent;
                        clear: both;
                        display: inline-block;
                        float: left;
                        height: 29px;
                        left: 10px;
                        position: relative;
                        text-decoration: none;
                        text-indent: 40px;
                        text-transform: uppercase;
                        top: -6px;
                        width: 100px;
                    }
                }
                .diagnosis_information{
                    background: $text_gray;
                    float: left;
                    height: 278px;
                    position: absolute;
                    right: 0;
                    width: 421px;
                    z-index: 0;
                    h4{
                        @include font-mask( $white, em( 30px, 16 ), em( 53, 30 ), normal, $Helvetica );
                        background: #494949;
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        text-indent: 35px;
                        text-transform: uppercase;
                        width: 100%;
                    }
                    .diagnosis_level{
                        @include font-mask( $yellow, em( 16, 16 ), em( 16, 16 ), bold, $Helvetica );
                        clear: both;
                        display: block;
                        margin: 0;
                        padding: 13px 0;
                        text-indent: 50px;
                    }
                    .diagnosis_description{
                        @include font-mask( $white, em( 11.6, 16 ), em( 11.6, 11.6 ), normal, $Helvetica );
                        clear: both;
                        display: block;
                        margin: 0 auto;
                        padding: 0 0 7px 24px;
                        width: 347px;
                    }
                    .diagnosis_prescription{
                        clear: both;
                        color: $yellow;
                        display: block;
                        font-size: em( 45, 16 );
                        line-height: em( 44, 45 );
                        margin: 0 auto;
                        padding: 0 0 7px 10px;
                        text-indent: 38px;
                        text-transform: uppercase;
                        strong{ color: $white; text-transform: uppercase; }
                    }
                    .need{ padding: 13px 0 6px; }
                    hr{
                        border: 0 none transparent;
                        border-top: 3px solid #737373;
                        clear: both;
                        display: block;
                        height: 1px;
                        margin: 0 auto;
                        width: 361px;
                    }
                    .promotions_link{
                        @include font-mask( $white, em( 13, 16 ), em( 15, 13 ), normal, $Helvetica );
                        clear: both;
                        display: block;
                        text-transform: uppercase;
                        margin: 0;
                        overflow: hidden;
                        padding: 0;
                        text-indent: 50px;
                        text-transform: uppercase;
                        width: 100%;
                        a{
                            background: url("../img/comienza-ya-button.png") no-repeat scroll 0 8px transparent;
                            color: transparent;
                            display: inline-block;
                            height: 40px;
                            font-weight: bold;
                            padding: 8px 0 0;
                            text-decoration: none;
                            text-indent: 200em;
                            width: 113px;
                            &:hover{ background: url("../img/comienza_over.png") no-repeat scroll 0 8px transparent; }
                        }
                    }
                }
                .diagnosis_budget{
                    @extend .diagnosis_information;
                    position: absolute;
                    right: -421px;
                    top: 0;
                    h4{
                        @include font-mask( $white, em( 30px, 16 ), em( 54, 30 ), normal, $Helvetica );
                        background: #494949;
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        text-indent: 35px;
                        text-transform: uppercase;
                        width: 100%;
                        strong{}
                    }
                    form{
                        display: inline-block;
                        height: 70px;
                        padding: 17px 0 12px 50px;
                        fieldset{
                            height: 100%;
                            position: relative;
                            .text{
                                float: left;
                                padding: 3px 15px 3px 0;
                                position: relative;
                                width: 280px;
                                .error{
                                    color: $white;
                                    left: 78px;
                                    position: absolute;
                                    text-align: right;
                                    top:2px;
                                }
                                input{
                                    @include font-mask( $yellow, em( 13, 16 ), em( 13, 13 ), normal, $Helvetica );
                                    background-color: #494949;
                                    border: 0 none transparent;
                                    letter-spacing: 0.5px;
                                    padding: 0 5px;
                                    width: 270px;
                                }
                                &:first-child{ padding: 0 15px 3px 0; }
                                &:last-child{ padding: 3px 15px 0 0; }
                            }
                            .submit{
                                display: inline-block;
                                float: left;
                                height: 65px;
                                position: absolute;
                                top: 0;
                                right: 15px;
                                width: 65px;
                                input{
                                    background: url("../img/send-button.png") no-repeat scroll 0 0 transparent;
                                    border: 0 none transparent;
                                    color: transparent;
                                    display: block;
                                    height: 65px;
                                    text-indent: 2000em;
                                    width: 65px;
                                    &:hover{ background-position: 0 -65px; }
                                }
                            }
                        }
                    }
                    hr{
                        border: 0 none transparent;
                        border-top: 3px solid #737373;
                        clear: both;
                        display: block;
                        height: 1px;
                        margin: 0 0 0 45px;
                        width: 361px;
                    }
                    div.schedule_your_date{
                        float: left;
                        padding: 34px 0 0 43px;
                        img.schedule{}
                    }
                    div.branch{
                        float: left;
                        height: 84px;
                        padding: 35px 15px 0 20px;
                        width: 219px;
                        h5{
                            @include font-mask( $white, em( 20, 16 ), em( 13, 20 ), normal, $Helvetica );
                            margin: 0;
                            padding: 0 0 12px;
                            text-align: right;
                            strong{ color: $yellow; }
                        }
                        p{
                            @include font-mask( $white, em( 10, 16 ), em( 12, 10), normal, $Helvetica );
                            margin: 0;
                            padding: 0;
                            text-align: right;
                        }
                        p.branch_phone{
                            @include font-mask( $white, em( 16, 16 ), em( 26, 16 ), normal, $Helvetica );
                            letter-spacing: 0.7px;
                            margin: 0;
                            padding: 0;
                            span{ color: $yellow; }
                        }
                    }
                }
            }
            .response.first,.response.second{
                
                .diagnosis_information{
                    
                    .diagnosis_prescription{
                        font-size: em( 22, 16 );
                        line-height: em( 44, 22 );
                    }
                }
            }
        }
        #member_ISHRS{
            bottom: 40px;
            position: absolute;
            right: 33px;
            z-index: 0;
        }
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
